@model InventoryManagementSystem.Models.Login

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
   
    <div class="col-md-6">
        @Html.LabelFor(model => model.Username)
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Username,"", new { @class = "text-danger" })
    </div>


    <div class="col-md-6">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password,"", new { @class = "text-danger" })
    </div>

    <div class="col-md-6">
        @Html.LabelFor(model => model.UserType)
        @Html.DropDownListFor(model => model.UserType, new SelectList (new [] {"Admin","Employee"}),"Select User",new {@class="form-control"})
        @Html.ValidationMessageFor(model => model.UserType,"", new { @class = "text-danger" })
    </div>
    <br />

    <br />

    <div class="col-md-6">
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>

    <div>
        <a asp-action="SignUp">Allready Login ? SignUp</a>
    </div>


}