@model InventoryManagementSystem.Models.Login

@{
    ViewBag.Title = "Login";
}

<head>
    <style>
        .Container {
            position: relative;
            height: 80vh; /* Use viewport height instead of a fixed value */
            width: 90%;
            background-color: #A7ECEE;
            margin: 0 auto; /* Center the container horizontally */
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }


        .text-field {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
        }

        .input-row {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .input-label {
            margin-right: 10px;
        }

        .button {
            position: relative;
            right: 32px;
            bottom: 25px;
        }
        .signup{
            position: relative;
            left: 22px;
            bottom: 15px;
        }
        
    </style>
</head>
<div class="Container">
<h2>Login</h2>
   

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="box">
        <form action="/Login/Login" method="post">

                <div class="text-field">
                    <div class="input-row">
                        @Html.LabelFor(model => model.Username, new { @class = "input-label" })
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>

                <div class="text-field">
                    <div class="input-row">
                        @Html.LabelFor(model => model.Password, new { @class = "input-label" })
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="text-field">
                    <div class="input-row">
                        @Html.LabelFor(model => model.UserType, "UserType:", new { @class = "input-label" })
                        <select id="UserType" name="UserType" class="form-control" style="width: 210px; padding:8px">
                            <option value="">Select User Type</option>
                            <option value="Admin">Admin</option>
                            <option value="Employee">Employee</option>
                        </select>
                    </div>
                    @Html.ValidationMessageFor(model => model.UserType, "", new { @class = "text-danger" })

                </div>

            <br />

               <div class="button">
                    <input type="submit" value="Login" class="btn btn-primary" />
               </div>

            <div class="signup">
                <a asp-action="SignUp" style="color:black;">If not Registered? SignUp</a>
            </div>
        </form>

        </div>


}
</div>