@model InventoryManagementSystem.Models.Login

@{
    ViewBag.Title = "Login";
}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<head>
    <style>
        .Container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 80%;
            width: 80%;
            background-color: cadetblue;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .text-field {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
        }

        .input-row {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .input-label {
            margin-right: 10px;
        }

        
        
    </style>
</head>
<div class="Container justify-content-center" >
<h2>Login</h2>
   

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="box">
        <form action="/Login/Login" method="post">

                <div class="text-field">
                    <div class="input-row">
                        @Html.LabelFor(model => model.Username, new { @class = "input-label" })
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>

            <div class="col-md-4 text-field">
                <label for="Password">Password</label>
                <input type="password" id="Password" name="Password" class="form-control" required>
                <span class="text-danger">@Html.ValidationMessageFor(model => model.Password)</span>
            </div>

            <div class="col-md-4 text-field">
                <label for="UserType">User Type</label>
                <select id="UserType" name="UserType" class="form-control">
                    <option value="">Select User Type</option>
                    <option value="Admin">Admin</option>
                    <option value="Employee">Employee</option>
                </select>
                <span class="text-danger">@Html.ValidationMessageFor(model => model.UserType)</span>
            </div>
            <br />

            <br />

            <div class="col-md-4">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>

            <div>
                <a asp-action="SignUp" style="color:black;">If not Registered? SignUp</a>
            </div>
        </form>

        </div>


}
</div>