@model InventoryManagementSystem.Models.Users

@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class= "col-md-6" >
        @Html.LabelFor(model => model.Username)
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Username)
    </div>

    <div class="col-md-6">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>
   
    <br/>

    <div class="col-md-6">
        <input type="submit" value="Login" class="btn btn-primary" />

        @*<input asp-action="SignUp" type="submit" value="SignUp" class="btn btn-primary" />*@
        <a asp-action="SignUp">Signup</a>
    </div>

}