@model InventoryManagementSystem.Models.Users

@{
    ViewBag.Title = "Signup";
}

<h2>Register</h2>



<div class="row justify-content-center">
@using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
{
    @*@Html.AntiForgeryToken()*@

    <div class="col-md-6">
        @Html.LabelFor(model => model.Username)
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Username,"", new { @class = "text-danger" })
    </div>


    <div class="col-md-6">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password,"", new { @class = "text-danger" })
    </div>

    

    <div class="col-md-6">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email,"", new { @class = "text-danger" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.UserType)
        @Html.DropDownListFor(model => model.UserType, new SelectList (new [] {"Admin","Employee"}),"Select User",new {@class="form-control"})
        @Html.ValidationMessageFor(model => model.UserType,"", new { @class = "text-danger" })
    </div>
    <br />

    <br/>

     <div class="col-md-6">
        <input type="submit" value="Register" class="btn btn-success" />
    </div>

    <div>
        <a asp-action="Index">Allready Registered ? Login</a>
    </div>


}
</div>