@model IEnumerable<InventoryManagementSystem.Models.Purchase>

@{
    ViewData["Title"] = "DisplayPurchase";
}
@if (TempData["SuccessMessage"] != null)
{
    <div id="successMessage" class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var successMessage = $("#successMessage");
            successMessage.delay(2000).fadeOut(500);
        });
    </script>
}


<div class="d-flex justify-content-between align-items-center">
    <h1>DisplayPurchase</h1>
    
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Logout">
        <button class="btn btn-danger">Logout</button>
    </a>
</div>
<div>
<a asp-action="PurchaseProduct" method="get" asp-controller="Purchase" class="btn btn-primary">
    Purchase
</a>
</div>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Purchase_product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase_quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseBy)
            </th>

            <th style="text-align: center;">
                @Html.DisplayName("Actions")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Purchase_product)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Purchase_quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Purchase_price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchaseBy)
                    </td>


                    <td style="text-align: center;">
                        <a href="@Url.Action("PurchaseProductDetail", "Purchase", new { PurchaseId = item.PurchaseId })" class="btn btn-success">Details</a>
                        <a href="@Url.Action("Delete","Purchase", new { PurchaseId = item.PurchaseId })" class="btn btn-danger"
                           onclick="return confirm('Are you sure you want to delete this product?')">Delete</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
